.footer {
  border-top: 1px solid $accent-red;
  background: $accent-color;
  padding: 30px 0;

  @include mobile-tablet-only {
    display: flex;
    justify-content: space-between;
  }

  @include laptop {
    padding-top: 78px;
    padding-bottom: 35px;
  }

  &__container {
    @include laptop {
      margin-bottom: 86px;
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }

  &__copyright {
    @include laptop {
      display: flex;
      justify-content: space-between;
    }
  }

  &__address dl {
    display: flex;
  }
}

@include mobile-tablet-only {
  .footer .copyright .copyright__item:first-child {
    display: none;
  }

  .footer__phone {
    display: none;
  }

  .footer__address {
    display: none;
  }

}

