.header {

  &__container {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;

    @include laptop {
      height: 100px;
    }
  }
}

@include laptop {
  .header__lang {
    display: none;
  }
}
