.input {
  width: 100%;
  height: 52px;
  padding: 0 25px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(15.5px);
  box-sizing: border-box;

  &--search {
    height: 44px;
    border-radius: 13px;
    margin-top: 16px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 95% center;

    @include laptop {
      margin-top: 0;
      background-color: transparent;
      border: 0;
    }


  }
}

::placeholder {
  color: #fff;
  font-family: 'Fira Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

@include laptop {
  .input--search::placeholder {
    font-size: 0;
  }
}

