.navigation {
  color: $white;

  @include laptop {
    display: flex;
    gap: 80px;
  }

  @include desktop {
    gap: 200px;
  }

  & a {
    color: $white;
  }

  &__top {
    border-bottom: 1px solid #ea6767;
    padding: 25px 20px 30px;

    @include laptop {
      display: flex;
      align-items: center;
      order: 2;
      padding: 0;
      border-bottom: 0;
    }

    @include desktop {
      width: 280px;
    }
  }

  &__menu {
    padding: 20px 30px;
    border-bottom: 1px solid #ea6767;

    @include laptop {
      padding: 0;
      border-bottom: 0;
    }
  }

  &__phone {
    display: block;
    font-size: 22px;
    padding: 20px 30px;
    border-bottom: 1px solid #ea6767;

    @include laptop {
      display: none;
    }
  }

  &__address {
    padding: 20px 30px;
    border-bottom: 1px solid #ea6767;

    @include laptop {
      display: none;
    }

    & dt {
      margin-top: 20px;
      margin-bottom: 14px;
    }

    & dt:first-child {
      margin-top: 0;
    }

    & dl {
      margin: 0;
    }

    & dd {
      margin-left: 0;
    }
  }

  &__copyright {
    font-size: 15px;
    padding: 20px 30px;

    & a {
      text-decoration: underline;
    }

    @include laptop {
      display: none;
    }
  }
}
