.navigation {
  color: $white;

  @include laptop {
    display: flex;
    gap: 80px;
  }

  @include desktop {
    gap: 200px;
  }

  &__top {
    border-bottom: 1px solid $accent-red;
    padding: 25px 20px 30px;

    @include laptop {
      display: flex;
      align-items: center;
      order: 2;
      padding: 0;
      border-bottom: 0;
      width: 40px;
    }
  }

  &__menu {
    padding: 20px 30px;
    border-bottom: 1px solid $accent-red;

    @include laptop {
      padding: 0;
      border-bottom: 0;
      margin-right: 140px;
    }

    @include laptop {
      margin-right: 200px;
    }
  }

  &__phone {
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid $accent-red;

    @include laptop {
      display: none;
    }
  }

  &__address {
    padding: 20px 30px;
    border-bottom: 1px solid $accent-red;

    @include laptop {
      display: none;
    }
  }

  &__copyright {
    padding: 20px 30px;

    @include laptop {
      display: none;
    }
  }
}
