.slider {
  @include laptop {
    margin: 0 auto;
    max-width: 1320px;
    overflow: initial;
  }

  @include desktop {
    min-width: 1512px
  }

  // &__list {
  //   width: 100%;
  //   height: auto;
  //   padding-bottom: 46px;
  //   width: calc(50% + 50vw);
  // }
}
