.solutions {
  padding-top: $padding-mobile;
  padding-bottom: $padding-mobile;
  background-color: $white;

  @include laptop {
    padding-top: $padding-pc;
    padding-bottom: $padding-pc;
    border-left: 12px solid $bg-color;
  }

  &__title {
    font-size: 40px;
    @include title;
    margin-bottom: 25px;

    @include laptop {
      font-size: 80px;
      line-height: 91%;
      letter-spacing: 3.2px;
      margin-bottom: 60px;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 160%;

    @include laptop {
      font-size: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }

  &__tabs {
    margin-top: 20px;

    @include laptop {
      margin-top: 50px;
    }
  }

  &__tabs .tabs__control {
    color: #8E8E8E;
    border: 1px solid #D3D3D3;
  }

  &__tabs .tabs__control:hover {
    color: $bace-color;
    border: 1px solid $bace-color;
  }

  &__tabs .tabs__control.is-active:hover {
    color: $white;
    border: 1px solid $accent-color;
  }

  &__content {
    margin-top: 60px;

    @include laptop {
      margin-top: 40px;
    }
  }
}
