.tabs {

  &__controls {
    display: flex;
    gap: 20px;
    overflow-y: scroll;

    @include laptop {
      gap: 40px;
    }
  }

  &__control {
    color: $gray;
    background: $bg-color;
    font-size: 18px;
    padding: 8px 15px;
    border: 1px solid rgba(211, 211, 211, 0.25);
    flex-shrink: 0;
    height: 45px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: #fff;
      border: 1px solid $white;
    }

    @include laptop {
      padding: 10px 30px;
      height: 60px;
    }
  }

  &__control.is-active {
    color: $white;
    background-color: $accent-color;
    border: 1px solid $accent-color;
  }

  &__element {
    display: none;
  }

  &__element.is-active {
    display: block;
  }

  &__content {
    margin-top: 25px;

    @include laptop {
      margin-top: 90px;
    }
  }
}
