body {
  color: $bace-color;
  background-color: $bg-color;
  font-family: 'Fira Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

main {
  margin-top: calc(66px + 56px);

  @include laptop {
    margin-top: calc(100px + 72px);
  }
}

a {
  color: $bace-color;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

// p:not(:last-child) {
//   margin-top: 0;
//   margin-bottom: 16px;
// }

// p {
//   margin: 0;
// }

address {
  font-style: normal;
}

button {
  font-size: 18px;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font-family: 'Fira Sans', 'Arial', sans-serif;
}

textarea {
  height: 100%;
}

ol {
  padding-left: 18px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clear-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-phone {
  color: $white;
  font-size: 22px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.address {
  color: $white;
  display: grid;
  gap: 20px;

  &__item {
    display: grid;
    gap: 14px;

    @include laptop {
      width: 280px;
    }
  }

  @include laptop {
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
}
