$white: #ffffff;
$gray: #f3f2f1;
$darkgray: #ced2cc;
$bace-color: #252525;
$bg-color: #fdfdfd;
$accent-color: #c6c2b7;
$hover-color: rgb(37, 37, 37, 90%);
$active-color: rgb(37, 37, 37, 75%);

$padding-white: 56px;
$padding-mobile: 72px;
$padding-pc: 144px;

$transition: all 0.3s;
