@import 'common/variables.scss';
@import 'common/ds-breakpoints.scss';

@import 'common/font.scss';
@import 'common/global.scss';
@import 'blocks/container.scss';
@import 'blocks/link.scss';
@import 'blocks/header.scss';
@import 'blocks/burger.scss';
